html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

body * {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  list-style: none; }

/* html, body, div{
  height: 100%;
} */
.shade--small {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25)); }

.shade--medium {
  filter: drop-shadow(0 0.375rem 0.37rem rgba(0, 0, 0, 0.37)); }

.shade--large {
  filter: drop-shadow(0 0.5rem 0.75rem rgba(0, 0, 0, 0.5)); }

/* Z-INDEX */
/* COLOR SCHEMES */
/* // sass variable map
$theme-colors: (
  color-black: #ffbb00,
); */
:root {
  --site-custom-theme: none;
  --site-color-background-menu: #f0f0f0;
  --site-color-background-content: #dedede;
  --site-color-background-player: #dedede;
  --site-color-background-general: #c2c2c2;
  --site-color-font-general: #000000;
  --site-color-font-logo: #000000;
  --site-color-nav-separator: #d9d9d9;
  --site-color-background-loading: #c2c2c2;
  --site-color-loading-border: #979797;
  --site-color-loading-border-left: #00aeff;
  --site-color-loading-border-right: #ff5100;
  --site-color-header-background-top-mobile: #ffcbb7;
  --site-color-featured-title-text: #000000;
  --site-color-featured-info-text: #434343;
  --site-color-featured-tags-text: #262626;
  --site-color-featured-tags-button: #f5f5f5; }

/* ================ */
/* ================ */
/* ================ */
/* ================ */
/* General Styles */
body {
  background-color: var(--site-color-background-general);
  color: var(--site-color-font-general); }

.site {
  width: 100%;
  height: 100vh;
  /* height: calc(var(--site-vh, 1vh) * 100); */
  display: grid;
  grid-template-areas: "menu" "content" "player";
  grid-template-rows: 6.4rem 1fr auto; }
  .site .site__menu {
    grid-area: menu;
    background-color: var(--site-color-background-menu);
    height: 6.4rem;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    position: sticky;
    width: 100%; }
    .site .site__menu .site__logo {
      grid-column: 1;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: var(--site-color-font-logo);
      display: grid;
      justify-content: left;
      align-items: center;
      overflow: hidden; }
      .site .site__menu .site__logo .logo__text {
        display: inline;
        font-size: 1.8rem;
        font-weight: 700;
        width: auto;
        text-align: left;
        /*         @media (min-width: 375px) {
          & {
            min-width: 12rem;
          }
        }

        @media (min-width: 768px) {
          & {
            min-width: 24rem;
          }
        } */ }
      .site .site__menu .site__logo .logo__img {
        display: block;
        height: 75%;
        width: 100%;
        filter: brightness(0); }
    .site .site__menu .site__menu__hamburger {
      text-align: right;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center; }
      @media (min-width: 768px) {
        .site .site__menu .site__menu__hamburger {
          display: none; } }
      .site .site__menu .site__menu__hamburger .hamburger__icon {
        display: block;
        width: 6.8rem;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.25rem; }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line {
        content: "";
        background-color: black;
        display: block;
        height: 0.375rem;
        width: 2.5rem;
        border-radius: 1rem;
        transition: all 0.25s ease-in-out;
        position: absolute; }
        .site .site__menu .site__menu__hamburger .hamburger__icon_line--one {
          transform: translateY(-0.75rem); }
        .site .site__menu .site__menu__hamburger .hamburger__icon_line--three {
          transform: translateY(0.75rem); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active {
        transform: rotate(45deg); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active ~ .hamburger__icon_line {
        transform: rotate(-45deg); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active ~ .hamburger__icon_line:last-child {
        opacity: 0; }
    .site .site__menu #site__menu__links {
      display: flex;
      flex-direction: column;
      height: auto;
      /* transform-origin: top;
      transform: translateY(-100%);
      transition: transform 1s linear; */
      overflow: hidden;
      font-weight: 500; }
      .site .site__menu #site__menu__links a {
        text-align: center;
        padding: 1rem; }
      @media (max-width: 767px) {
        .site .site__menu #site__menu__links {
          position: absolute;
          width: auto;
          top: 7.4rem;
          right: 1rem;
          transform-origin: top;
          transform: scaleY(0);
          transition: transform 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
          will-change: transform;
          padding: 1rem;
          background-color: var(--site-color-background-menu);
          border-radius: 0.25rem; }
        .site .site__menu #site__menu__links.active {
          transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
          transform: scaleY(100%); }
        .site .site__menu #site__menu__links a:not(a:last-child) {
          border-bottom: 0.1rem solid var(--site-color-nav-separator); } }
      @media (min-width: 768px) {
        .site .site__menu #site__menu__links {
          max-height: unset;
          grid-row: 1;
          grid-column-start: 2;
          grid-column-end: 3;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          transition: none; }
        .site .site__menu #site__menu__links a {
          text-align: center;
          border-bottom: none; } }

.site__content {
  grid-area: content;
  background-color: var(--site-color-background-content);
  height: 100%;
  overflow: auto;
  z-index: 0; }
  .site__content .header {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to bottom, #00000000, var(--site-color-background-content)), url("../img/backgrounds/viviana-rishe-ZQ-El23uCRE-unsplash_375px.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 425px) {
      .site__content .header {
        height: 50rem;
        background: linear-gradient(to bottom, #00000000, var(--site-color-background-content)), url("../img/backgrounds/viviana-rishe-ZQ-El23uCRE-unsplash_375px.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; } }
    @media (min-width: 768px) {
      .site__content .header {
        height: 64rem;
        background: linear-gradient(to bottom, #00000000, var(--site-color-background-content)), url("../img/backgrounds/viviana-rishe-ZQ-El23uCRE-unsplash_768px.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; } }
    .site__content .header .featured_track {
      display: grid;
      grid-template-areas: "image" "name" "info" "tags" "buy";
      grid-template-columns: 1fr;
      width: 100%;
      height: 100%;
      justify-content: center;
      justify-items: center;
      padding: 1rem;
      align-items: center;
      align-content: center; }
      .site__content .header .featured_track .featured_track__img {
        grid-area: image;
        width: 12rem;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.25rem 0.5rem #000); }
      .site__content .header .featured_track .featured_track__name {
        grid-area: name;
        width: auto;
        height: auto;
        font-size: 2.8rem;
        color: var(--site-color-featured-title-text);
        font-weight: 700; }
      .site__content .header .featured_track .featured_track__info {
        grid-area: info;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .site__content .header .featured_track .featured_track__info .featured_track__info__line {
          font-size: 1.5rem;
          font-weight: 500;
          color: var(--site-color-featured-info-text); }
      .site__content .header .featured_track .featured_track__tags {
        grid-area: tags;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .site__content .header .featured_track .featured_track__tags .featured_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: var(--site-color-featured-tags-button);
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-color-featured-tags-text);
          height: 4rem;
          border-radius: 2rem;
          filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.25)); }

.site__player {
  grid-area: player;
  background-color: var(--site-color-background-player);
  height: 6.8rem;
  z-index: 100; }

.debug__box {
  display: block;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  background-color: #00fbbd;
  padding: 1rem;
  border: 0.1rem solid #00f4ae;
  border-radius: 0.5rem;
  z-index: 9999;
  filter: opacity(0.75) drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.25));
  transition: filter 0.5s;
  cursor: default;
  font-weight: 500;
  display: none; }

.debug__box:hover {
  filter: opacity(0.25); }

.debug__box:active {
  filter: opacity(0.25);
  pointer-events: none; }

.preloading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.preloading__spinner {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out; }

.preloading__spinner--visible {
  background-color: var(--site-color-background-loading);
  display: flex; }

.preloading__spinner--hide {
  filter: opacity(0); }

.preloading__spinner .inner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 1rem;
  border-color: var(--site-color-loading-border);
  border-left-color: var(--site-color-loading-border-left);
  border-left-width: 1rem;
  border-right-color: var(--site-color-loading-border-right);
  border-right-width: 1rem;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-name: preloading__spinner-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

@keyframes preloading__spinner-animation {
  0% {
    transform: rotate(0deg);
    /* border-left-color: var(--site-color-loading-border-left;
    border-right-color: var(--site-color-loading-border-right; */ }
  50% {
    transform: rotate(180deg);
    /* border-right-color: var(--site-color-loading-border-left;
    border-left-color: var(--site-color-loading-border-right; */ }
  100% {
    transform: rotate(360deg);
    /* border-left-color: var(--site-color-loading-border-left;
    border-right-color: var(--site-color-loading-border-right; */ } }
