html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

body * {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  list-style: none; }

/* html, body, div{
  height: 100%;
} */
.shade--small {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25)); }

.shade--medium {
  filter: drop-shadow(0 0.375rem 0.37rem rgba(0, 0, 0, 0.37)); }

.shade--large {
  filter: drop-shadow(0 0.5rem 0.75rem rgba(0, 0, 0, 0.5)); }

/* Z-INDEX */
/* COLOR SCHEME */
:root {
  --site-color-body-background-color: #c2c2c2;
  --site-color-body-fonts-color: #000000;
  --site-content-background-color: #dedede;
  --site-content-header-background-image--little: url("../img/backgrounds/background_little.jpg");
  --site-content-header-background-image--medium: url("../img/backgrounds/background_medium.jpg");
  --site-content-header-background-image--big: url("../img/backgrounds/background_big.jpg");
  --site-content-featured-title-text: #000000;
  --site-content-featured-info-text: #262626;
  --site-content-featured-tags-text: #262626;
  --site-content-featured-tags-button: #f5f5f5;
  --site__featured__buy-button--background-color: #000000;
  --site__featured__buy-button--text-color: #fafafa;
  --site-player-background-color: #dedede; }

/* ================ */
/* ================ */
/* ================ */
/* ================ */
/* General Styles */
body {
  background-color: var(--site-color-body-background-color);
  color: var(--site-color-body-fonts-color); }

.site {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-areas: "menu" "content" "player";
  grid-template-rows: 6.4rem 1fr auto;
  /* grid-template-rows: 6.4rem 1fr 0; */ }
  .site {
    --site-menu-background-color: #f0f0f0;
    --site-menu-nav-separator-color: #d9d9d9; }
  .site .site__menu {
    grid-area: menu;
    background-color: var(--site-menu-background-color);
    height: 6.4rem;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    position: sticky;
    width: 100%; }
    .site .site__menu .site__logo {
      grid-column: 1;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: var(--site-color-font-logo);
      display: grid;
      justify-content: left;
      align-items: center;
      overflow: hidden; }
      .site .site__menu .site__logo .logo__text {
        display: inline;
        font-size: 1.8rem;
        font-weight: 700;
        width: auto;
        text-align: left;
        /*         @media (min-width: 375px) {
          & {
            min-width: 12rem;
          }
        }

        @media (min-width: 768px) {
          & {
            min-width: 24rem;
          }
        } */ }
      .site .site__menu .site__logo .logo__img {
        display: block;
        height: 64%;
        width: 100%;
        filter: brightness(0); }
    .site .site__menu .site__menu__hamburger {
      text-align: right;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center; }
      @media (min-width: 768px) {
        .site .site__menu .site__menu__hamburger {
          display: none; } }
      .site .site__menu .site__menu__hamburger .hamburger__icon {
        display: block;
        width: 6.8rem;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.25rem; }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line {
        content: "";
        background-color: black;
        display: block;
        height: 0.375rem;
        width: 2.5rem;
        border-radius: 1rem;
        transition: all 0.25s ease-in-out;
        position: absolute; }
        .site .site__menu .site__menu__hamburger .hamburger__icon_line--one {
          transform: translateY(-0.75rem); }
        .site .site__menu .site__menu__hamburger .hamburger__icon_line--three {
          transform: translateY(0.75rem); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active {
        transform: rotate(45deg); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active ~ .hamburger__icon_line {
        transform: rotate(-45deg); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active ~ .hamburger__icon_line:last-child {
        opacity: 0; }
    .site .site__menu #site__menu__links {
      display: flex;
      flex-direction: column;
      height: auto;
      /* transform-origin: top;
      transform: translateY(-100%);
      transition: transform 1s linear; */
      overflow: hidden;
      font-weight: 500; }
      .site .site__menu #site__menu__links a {
        text-align: center;
        padding: 1rem; }
      @media (max-width: 767px) {
        .site .site__menu #site__menu__links {
          position: absolute;
          width: auto;
          top: 7.4rem;
          right: 1rem;
          transform-origin: top;
          transform: scaleY(0);
          transition: transform 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
          will-change: transform;
          padding: 1rem;
          background-color: var(--site-menu-background-color);
          border-radius: 0.25rem; }
        .site .site__menu #site__menu__links.active {
          transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
          transform: scaleY(100%); }
        .site .site__menu #site__menu__links a:not(a:last-child) {
          border-bottom: 0.1rem solid var(--site-menu-nav-separator-color); } }
      @media (min-width: 768px) {
        .site .site__menu #site__menu__links {
          max-height: unset;
          grid-row: 1;
          grid-column-start: 2;
          grid-column-end: 3;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          transition: none; }
        .site .site__menu #site__menu__links a {
          text-align: center;
          border-bottom: none; } }

.site__content {
  grid-area: content;
  background-color: var(--site-content-background-color);
  height: 100%;
  overflow: scroll;
  z-index: 0;
  justify-content: center; }
  .site__content .header {
    width: 100%;
    height: 40rem;
    background: linear-gradient(to bottom, #00000000, var(--site-content-background-color)), var(--site-content-header-background-image--little);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* .search_bar {
      display: grid;
      grid-template-columns: auto auto;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;

      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 1rem transparentize(black, 0.5));

      .search_bar__search_input {
        display: block;
        width: 90%;
      }

      .search_bar__search_button {
        display: block;
        width: 10%;
      }
    } */ }
    @media (min-width: 425px) and (max-width: 768px) {
      .site__content .header {
        height: 50rem;
        background: linear-gradient(to bottom, #00000000, var(--site-content-background-color)), var(--site-content-header-background-image--medium);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center; } }
    @media (min-width: 768px) {
      .site__content .header {
        height: 64rem;
        background: linear-gradient(to bottom, #00000000, var(--site-content-background-color)), var(--site-content-header-background-image--big);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center; } }
    .site__content .header .featured_track {
      display: grid;
      grid-template-areas: "image" "name" "info" "tags" "buy";
      grid-template-columns: 1fr;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;
      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.5)); }
      @media (min-width: 768px) {
        .site__content .header .featured_track {
          grid-template-areas: "image info info" "image name name" "image buy tags";
          grid-template-columns: auto auto auto;
          transform: scale(100%); } }
      .site__content .header .featured_track .featured_track__img {
        grid-area: image;
        height: 12rem;
        width: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.25rem 0.5rem #000); }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__img {
            justify-self: right;
            height: 12rem;
            width: auto; } }
      .site__content .header .featured_track .featured_track__name {
        grid-area: name;
        width: auto;
        height: auto;
        font-size: 2.5rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800; }
        @media (min-width: 425px) {
          .site__content .header .featured_track .featured_track__name {
            font-size: 3rem; } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__name {
            justify-self: left;
            align-self: baseline; } }
      .site__content .header .featured_track .featured_track__info {
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .site__content .header .featured_track .featured_track__info .featured_track__info__line {
          display: block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          /* &:not(:first-child):before {
            content: "-";
          } */
          /* &:last-child { */
          /* & {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: block;
              }
            }
          } */ }
          @media (min-width: 425px) {
            .site__content .header .featured_track .featured_track__info .featured_track__info__line {
              font-size: 1.5rem; } }
        @media (min-width: 425px) {
          .site__content .header .featured_track .featured_track__info {
            flex-direction: row;
            gap: 2.5rem; } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__info {
            justify-self: left; } }
      .site__content .header .featured_track .featured_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem; }
        .site__content .header .featured_track .featured_track__tags .featured_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: var(--site-content-featured-tags-button);
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 4rem;
          border-radius: 2rem;
          filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.25)); }
          .site__content .header .featured_track .featured_track__tags .featured_track__tags_link:last-child {
            display: none; }
            @media (min-width: 425px) {
              .site__content .header .featured_track .featured_track__tags .featured_track__tags_link:last-child {
                display: flex; } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__tags {
            justify-self: left; } }
      .site__content .header .featured_track .featured_track__buy_button {
        grid-area: buy; }
        @media (max-width: 425px) {
          .site__content .header .featured_track .featured_track__buy_button {
            margin-top: 2rem;
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            height: 3.5rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25)); } }
        @media (min-width: 425px) and (max-width: 767px) {
          .site__content .header .featured_track .featured_track__buy_button {
            margin-top: 2rem;
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 4rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25)); } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__buy_button {
            justify-self: left;
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 4rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25)); } }
  .site__content .tracklist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    /* @media (min-width: $screen-width-medium) and (max-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    }
    @media (min-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    } */ }
    .site__content .tracklist .tracklist_track {
      display: grid;
      grid-template-areas: "image name info buy";
      grid-template-columns: 5rem 1fr auto auto;
      width: 90%;
      max-width: 768px;
      height: 8rem;
      justify-content: space-between;
      justify-items: center;
      padding: 1rem;
      align-items: center;
      align-content: center;
      gap: 1rem;
      background-color: #f3f3f3;
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
      z-index: 1;
      transition: filter 0.25s ease; }
      .site__content .tracklist .tracklist_track:hover {
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
        z-index: 2; }
      @media (min-width: 539px) {
        .site__content .tracklist .tracklist_track {
          grid-template-areas: "image name info tags buy";
          grid-template-columns: 5rem auto 1fr auto auto;
          transform: scale(100%); } }
      .site__content .tracklist .tracklist_track .tracklist_track__img {
        grid-area: image;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5)); }
      .site__content .tracklist .tracklist_track .tracklist_track__name {
        grid-area: name;
        justify-self: baseline;
        width: auto;
        height: auto;
        font-size: 1.8rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800; }
        @media (min-width: 425px) {
          .site__content .tracklist .tracklist_track .tracklist_track__name {
            font-size: 2.5rem; } }
      .site__content .tracklist .tracklist_track .tracklist_track__info {
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line {
          display: inline-block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          /* &:not(:first-child):before {
            content: "-";
          }
          &:last-child {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: inline-block;
              }
            }
          } */ }
          .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(n) {
            display: none; }
          @media (min-width: 375px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(1) {
              display: inline-block; } }
          @media (min-width: 425px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(2) {
              display: inline-block; }
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line {
              font-size: 1.375rem; } }
          @media (min-width: 768px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line {
              font-size: 1.5rem; } }
          @media (min-width: 900px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(3) {
              display: inline-block; } }
        @media (min-width: 670px) {
          .site__content .tracklist .tracklist_track .tracklist_track__info {
            flex-direction: row;
            justify-self: center;
            gap: 2rem; } }
      .site__content .tracklist .tracklist_track .tracklist_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        display: none; }
        .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #f3f3f3;
          filter: none;
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 3rem;
          border-radius: 2rem;
          transition: 0.25s ease;
          transition-property: filter background-color;
          /* & {
            display: none;
            @media (min-width: $screen-width-medium) {
              & {
                display: flex;
              }
            }
          } */ }
          .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:hover {
            background-color: #fafafa;
            filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.25)); }
          .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(n) {
            display: none; }
          @media (min-width: 539px) {
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(1) {
              display: flex; } }
          @media (min-width: 670px) {
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(2) {
              display: flex; } }
          @media (min-width: 768px) {
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(3) {
              display: flex; }
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link {
              font-size: 1.375rem; } }
        @media (min-width: 539px) {
          .site__content .tracklist .tracklist_track .tracklist_track__tags {
            display: flex;
            justify-self: center; } }
      .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
        grid-area: buy; }
        @media (max-width: 425px) {
          .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            height: 3.5rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25)); } }
        @media (min-width: 425px) and (max-width: 767px) {
          .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 4rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25)); } }
        @media (min-width: 768px) {
          .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
            justify-self: left;
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 4rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25)); } }

.site__player {
  grid-area: player;
  background-color: var(--site-player-background-color);
  height: 6.8rem;
  width: 100%;
  transition: all 0.25s ease;
  z-index: 100;
  overflow: hidden;
  /* transform: translateY(100%);
  transform-origin: bottom; */
  display: none;
  grid-template-areas: "info controls menu";
  grid-template-columns: auto 1fr auto; }
  .site__player.active {
    display: grid; }

.debug__box {
  display: block;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  background-color: #00fbbd;
  padding: 1rem;
  border: 0.1rem solid #00f4ae;
  border-radius: 0.5rem;
  z-index: 9999;
  filter: opacity(0.75) drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.25));
  transition: filter 0.5s;
  cursor: default;
  font-weight: 500;
  display: none; }

.debug__box:hover {
  filter: opacity(0.25); }

.debug__box:active {
  filter: opacity(0.25);
  pointer-events: none; }

:root {
  --site-loading-background-color: #c2c2c2;
  --site-loading-circle-color: #979797;
  --site-loading-circle-color--left: #00aeff;
  --site-loading-circle-color--right: #ff5100; }

.preloading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.preloading__spinner {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out; }

.preloading__spinner--visible {
  background-color: var(--site-loading-background-color);
  display: flex; }

.preloading__spinner--hide {
  filter: opacity(0); }

.preloading__spinner .inner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 1rem;
  border-color: var(--site-loading-circle-color);
  border-left-color: var(--site-loading-circle-color--left);
  border-left-width: 1rem;
  border-right-color: var(--site-loading-circle-color--right);
  border-right-width: 1rem;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-name: preloading__spinner-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

@keyframes preloading__spinner-animation {
  0% {
    transform: rotate(0deg);
    /* border-left-color: var(--site-loading-circle-color--left;
    border-right-color: var(--site-loading-circle-color--right; */ }
  50% {
    transform: rotate(180deg);
    /* border-right-color: var(--site-loading-circle-color--left;
    border-left-color: var(--site-loading-circle-color--right; */ }
  100% {
    transform: rotate(360deg);
    /* border-left-color: var(--site-loading-circle-color--left;
    border-right-color: var(--site-loading-circle-color--right; */ } }

button {
  padding: 1rem; }
