html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

body * {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  list-style: none; }

/* html, body, div{
  height: 100%;
} */
p, span {
  cursor: default; }

.shade--small {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25)); }

.shade--medium {
  filter: drop-shadow(0 0.375rem 0.37rem rgba(0, 0, 0, 0.37)); }

.shade--large {
  filter: drop-shadow(0 0.5rem 0.75rem rgba(0, 0, 0, 0.5)); }

/* Z-INDEX */
/* COLOR SCHEME */
:root {
  --site-color-body-background-color: #c2c2c2;
  --site-color-body-fonts-color: #000000;
  --site-content-background-color: #f5f5f5;
  --site-content-header-background-image--little: url("../img/backgrounds/background_little.jpg");
  --site-content-header-background-image--medium: url("../img/backgrounds/background_medium.jpg");
  --site-content-header-background-image--big: url("../img/backgrounds/background_big.jpg");
  --site-content-featured-title-text: #000000;
  --site-content-featured-info-text: #262626;
  --site-content-featured-tags-text: #262626;
  --site-content-featured-tags-button: #f5f5f5;
  --site__featured__buy-button--background-color: #000000;
  --site__featured__buy-button--text-color: #fafafa;
  --site-player-background-color: #ffffff; }

/* width */
::-webkit-scrollbar {
  width: 1.25rem; }

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c3c3c; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #979797; }

/* ================ */
/* ================ */
/* STYLE IT */
[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  margin: 8px 0;
  width: 100%; }
  [type="range"]::-moz-focus-outer {
    border: 0; }
  [type="range"]:focus {
    outline: 0; }
    [type="range"]:focus::-webkit-slider-runnable-track {
      background: #eceff1; }
    [type="range"]:focus::-ms-fill-lower {
      background: #eceff1; }
    [type="range"]:focus::-ms-fill-upper {
      background: #eceff1; }
  [type="range"]::-webkit-slider-runnable-track {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    background: #eceff1;
    border: 0px solid #cfd8dc;
    border-radius: 2px; }
  [type="range"]::-webkit-slider-thumb {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), 0 0 2px rgba(13, 13, 13, 0.25);
    background: #000000;
    border: 1px solid #262626;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    margin-top: -4px; }
  [type="range"]::-moz-range-track {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    background: #eceff1;
    border: 0px solid #cfd8dc;
    border-radius: 2px;
    height: 4px; }
  [type="range"]::-moz-range-thumb {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), 0 0 2px rgba(13, 13, 13, 0.25);
    background: #000000;
    border: 1px solid #262626;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px; }
  [type="range"]::-ms-track {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 8px 0;
    color: transparent; }
  [type="range"]::-ms-fill-lower {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    background: #eceff1;
    border: 0px solid #cfd8dc;
    border-radius: 4px; }
  [type="range"]::-ms-fill-upper {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    background: #eceff1;
    border: 0px solid #cfd8dc;
    border-radius: 4px; }
  [type="range"]::-ms-thumb {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), 0 0 2px rgba(13, 13, 13, 0.25);
    background: #000000;
    border: 1px solid #262626;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    margin-top: 2px; }
  [type="range"]:disabled::-webkit-slider-thumb, [type="range"]:disabled::-moz-range-thumb, [type="range"]:disabled::-ms-thumb, [type="range"]:disabled::-webkit-slider-runnable-track, [type="range"]:disabled::-ms-fill-lower, [type="range"]:disabled::-ms-fill-upper {
    cursor: not-allowed; }

/* ================ */
/* ================ */
/* General Styles */
body {
  background-color: var(--site-color-body-background-color);
  color: var(--site-color-body-fonts-color); }

.site {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: auto;
  /* grid-template-areas:
    "menu"
    "content";
  grid-template-rows: 6.4rem 1fr; */
  /* grid-template-rows: 6.4rem 1fr 0; */ }
  .site {
    --site-menu-background-color: #f0f0f0;
    --site-menu-nav-separator-color: #d9d9d9; }
  .site .site__menu {
    background-color: var(--site-menu-background-color);
    height: 6.4rem;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    /* position: fixed; */
    top: 0;
    position: sticky;
    width: 100%; }
    .site .site__menu .site__logo {
      grid-column: 1;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: var(--site-color-font-logo);
      display: grid;
      justify-content: left;
      align-items: center; }
      .site .site__menu .site__logo .logo__text {
        display: inline;
        font-size: 1.8rem;
        font-weight: 700;
        width: auto;
        text-align: left;
        /*         @media (min-width: 375px) {
          & {
            min-width: 12rem;
          }
        }

        @media (min-width: 768px) {
          & {
            min-width: 24rem;
          }
        } */ }
      .site .site__menu .site__logo .logo__img {
        display: block;
        height: 64%;
        width: 100%;
        filter: invert(1); }
    .site .site__menu .site__menu__hamburger {
      cursor: pointer;
      text-align: right;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center; }
      @media (min-width: 768px) {
        .site .site__menu .site__menu__hamburger {
          display: none; } }
      .site .site__menu .site__menu__hamburger .hamburger__icon {
        display: block;
        width: 6.8rem;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.25rem;
        cursor: pointer; }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line {
        cursor: pointer;
        content: "";
        background-color: black;
        display: block;
        height: 0.375rem;
        width: 2.5rem;
        border-radius: 1rem;
        transition: transform 0.175s ease-in-out;
        position: absolute; }
        .site .site__menu .site__menu__hamburger .hamburger__icon_line--one {
          transform: translateY(-0.75rem); }
        .site .site__menu .site__menu__hamburger .hamburger__icon_line--three {
          transform: translateY(0.75rem); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active {
        transform: rotate(45deg); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active ~ .hamburger__icon_line {
        transform: rotate(-45deg); }
      .site .site__menu .site__menu__hamburger .hamburger__icon_line.active ~ .hamburger__icon_line:last-child {
        transform: rotate(-45deg); }
  .site #site__menu__links {
    display: flex;
    flex-direction: column;
    height: auto;
    font-weight: 500;
    z-index: 200; }
    .site #site__menu__links a {
      text-align: center;
      padding: 1rem; }
    @media (max-width: 767px) {
      .site #site__menu__links {
        width: auto;
        position: fixed;
        top: 7.4rem;
        right: 1rem;
        transform-origin: top;
        transition: transform 0.175s ease-in-out;
        /* will-change: transform; */
        padding: 1rem;
        background-color: var(--site-menu-background-color);
        border-radius: 0.25rem;
        transform: scaleY(0); }
      .site #site__menu__links.active {
        transform: scaleY(100%);
        filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.5)); }
      .site #site__menu__links a:not(a:last-child) {
        border-bottom: 0.1rem solid var(--site-menu-nav-separator-color); } }
    @media (min-width: 768px) {
      .site #site__menu__links {
        max-height: unset;
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        transition: none; }
      .site #site__menu__links a {
        text-align: center;
        border-bottom: none; } }

.site__content {
  background-color: var(--site-content-background-color);
  height: 100%;
  width: 100%;
  z-index: 0;
  justify-content: center; }
  .site__content.expanded {
    margin-bottom: 6.4rem; }
    @media only screen and (min-width: 768px) {
      .site__content.expanded {
        margin-bottom: 8.4rem; } }
  .site__content .error_404 {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 6.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    gap: 3rem;
    padding: 1rem;
    text-align: center; }
    .site__content .error_404 .error_404_title {
      font-size: 3rem;
      font-weight: 600; }
    .site__content .error_404 .error_404_cannot_text {
      font-size: 1.8rem;
      font-weight: 400; }
      .site__content .error_404 .error_404_cannot_text .error_404_cannot_page {
        font-size: 1.8rem;
        font-weight: 500; }
    .site__content .error_404 .error_404_bottom_link {
      background-color: var(--site__featured__buy-button--background-color);
      color: var(--site__featured__buy-button--text-color);
      width: auto;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: filter 0.175s ease-in-out;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      height: 3.5rem;
      border-radius: 0.25rem;
      filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.15));
      cursor: pointer; }
      .site__content .error_404 .error_404_bottom_link:hover {
        filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.3)); }
  .site__content .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* position: relative; */
    /* .search_bar {
      display: grid;
      grid-template-columns: auto auto;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;

      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 1rem transparentize(black, 0.5));

      .search_bar__search_input {
        display: block;
        width: 90%;
      }

      .search_bar__search_button {
        display: block;
        width: 10%;
      }
    } */ }
    @media only screen and (max-width: 424px) {
      .site__content .header {
        height: 40rem;
        /* background-image: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--little);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */ } }
    @media only screen and (min-width: 425px) and (max-width: 767px) {
      .site__content .header {
        height: 50rem;
        /*         background-image: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--medium);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */ } }
    @media only screen and (min-width: 768px) {
      .site__content .header {
        height: 64rem;
        /*  background-image: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--big);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */ } }
    .site__content .header .header__background_div {
      width: 100%;
      height: 100%;
      position: absolute; }
      @media only screen and (max-width: 424px) {
        .site__content .header .header__background_div {
          height: 40rem; } }
      @media only screen and (min-width: 425px) and (max-width: 767px) {
        .site__content .header .header__background_div {
          height: 50rem; } }
      @media only screen and (min-width: 768px) {
        .site__content .header .header__background_div {
          height: 64rem; } }
      .site__content .header .header__background_div .header__background_div_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
      .site__content .header .header__background_div:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, #00000000, var(--site-content-background-color)); }
    .site__content .header .featured_track {
      /* FA QUE VERGA ANDA RE MAL */
      /* backdrop-filter: blur(0.2rem);
      transform: translate3d(0.0,0.0,0.0);
      will-change: transform, filter; */
      display: grid;
      grid-template-areas: "image" "name" "info" "tags" "divider" "buy";
      grid-template-columns: 1fr;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;
      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.1rem 0.5rem rgba(0, 0, 0, 0.5)); }
      @media (min-width: 425px) {
        .site__content .header .featured_track {
          grid-template-areas: "image" "name" "info" "tags" "divider" "buy";
          grid-template-columns: 1fr;
          /* grid-auto-rows: auto auto auto; */ } }
      @media (min-width: 768px) {
        .site__content .header .featured_track {
          grid-template-areas: "image info info" "image name name" "image buy tags";
          grid-template-columns: auto auto auto; } }
      .site__content .header .featured_track .featured_track__divider {
        grid-area: divider;
        display: block;
        height: 1rem; }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__divider {
            display: none; } }
      .site__content .header .featured_track .featured_track__img {
        grid-area: image;
        height: 10rem;
        width: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
        cursor: pointer; }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__img {
            justify-self: right;
            height: 12rem;
            width: auto; } }
      .site__content .header .featured_track .featured_track__name {
        grid-area: name;
        width: auto;
        height: auto;
        font-size: 2.5rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800;
        justify-self: center;
        align-self: center;
        cursor: pointer; }
        @media (min-width: 425px) {
          .site__content .header .featured_track .featured_track__name {
            font-size: 3rem; } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__name {
            justify-self: left; } }
      .site__content .header .featured_track .featured_track__info {
        cursor: pointer;
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .site__content .header .featured_track .featured_track__info .featured_track__info__line {
          cursor: pointer;
          display: block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          /* &:not(:first-child):before {
            content: "-";
          } */
          /* &:last-child { */
          /* & {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: block;
              }
            }
          } */ }
          @media (min-width: 425px) {
            .site__content .header .featured_track .featured_track__info .featured_track__info__line {
              font-size: 1.5rem; } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__info {
            flex-direction: row;
            gap: 2.5rem;
            justify-self: left; } }
      .site__content .header .featured_track .featured_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem; }
        .site__content .header .featured_track .featured_track__tags .featured_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: var(--site-content-featured-tags-button);
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 4rem;
          border-radius: 2rem;
          transition: filter 0.175s ease-in-out;
          filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.15)); }
          .site__content .header .featured_track .featured_track__tags .featured_track__tags_link:hover {
            filter: drop-shadow(0 0.25rem 0.5rem rgba(73, 23, 23, 0.3)); }
          .site__content .header .featured_track .featured_track__tags .featured_track__tags_link:last-child {
            display: none; }
            @media (min-width: 768px) {
              .site__content .header .featured_track .featured_track__tags .featured_track__tags_link:last-child {
                display: flex; } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__tags {
            justify-self: left; } }
      .site__content .header .featured_track .featured_track__buy_button {
        grid-area: buy;
        min-width: 13rem; }
        @media (max-width: 425px) {
          .site__content .header .featured_track .featured_track__buy_button {
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.175s ease-in-out;
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            height: 3.5rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.15)); }
            .site__content .header .featured_track .featured_track__buy_button:hover {
              filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.3)); } }
        @media (min-width: 425px) and (max-width: 767px) {
          .site__content .header .featured_track .featured_track__buy_button {
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.175s ease-in-out;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 4rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.15)); }
            .site__content .header .featured_track .featured_track__buy_button:hover {
              filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.35)); } }
        @media (min-width: 768px) {
          .site__content .header .featured_track .featured_track__buy_button {
            justify-self: left;
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.175s ease-in-out;
            padding: 1.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 4rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.15)); }
            .site__content .header .featured_track .featured_track__buy_button:hover {
              filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.35)); } }
  .site__content .tracklist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* @media (min-width: $screen-width-medium) and (max-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    }
    @media (min-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    } */ }
    .site__content .tracklist .tracklist_track {
      display: grid;
      grid-template-areas: "image name info buy";
      grid-template-columns: 5rem 1fr auto auto;
      width: 90%;
      max-width: 768px;
      height: 8rem;
      justify-content: space-between;
      justify-items: center;
      padding: 1rem;
      align-items: center;
      align-content: center;
      gap: 1rem;
      background: linear-gradient(to bottom, whitesmoke, white, whitesmoke);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1));
      z-index: 1;
      transition: 0.175s ease-in-out;
      transform-origin: center;
      transition-property: filter, background-color, transform;
      transform: scale(1); }
      @media (min-width: 539px) {
        .site__content .tracklist .tracklist_track {
          grid-template-areas: "image name info tags buy";
          grid-template-columns: 5rem auto 1fr auto auto;
          transform: scale(100%); } }
      .site__content .tracklist .tracklist_track .tracklist_track__img {
        grid-area: image;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
        cursor: pointer; }
      .site__content .tracklist .tracklist_track .tracklist_track__name {
        cursor: pointer;
        grid-area: name;
        justify-self: baseline;
        width: auto;
        height: auto;
        font-size: 1.8rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800; }
        @media (min-width: 425px) {
          .site__content .tracklist .tracklist_track .tracklist_track__name {
            font-size: 2.5rem; } }
      .site__content .tracklist .tracklist_track .tracklist_track__info {
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line {
          cursor: pointer;
          display: inline-block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          /* &:not(:first-child):before {
            content: "-";
          }
          &:last-child {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: inline-block;
              }
            }
          } */ }
          .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(n) {
            display: none; }
          @media (min-width: 375px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(1) {
              display: inline-block; } }
          @media (min-width: 425px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(2) {
              display: inline-block; }
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line {
              font-size: 1.375rem; } }
          @media (min-width: 768px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line {
              font-size: 1.5rem; } }
          @media (min-width: 900px) {
            .site__content .tracklist .tracklist_track .tracklist_track__info .tracklist_track__info__line:nth-child(3) {
              display: inline-block; } }
        @media (min-width: 670px) {
          .site__content .tracklist .tracklist_track .tracklist_track__info {
            flex-direction: row;
            justify-self: center;
            gap: 2rem; } }
      .site__content .tracklist .tracklist_track .tracklist_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        display: none; }
        .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* background-color: rgba(243, 243, 243, 1); */
          filter: none;
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 3rem;
          border-radius: 2rem;
          transition: 0.25s ease;
          transition-property: filter background-color;
          /* & {
            display: none;
            @media (min-width: $screen-width-medium) {
              & {
                display: flex;
              }
            }
          } */ }
          .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:hover {
            background-color: #ffffff;
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25)); }
          .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(n) {
            display: none; }
          @media (min-width: 539px) {
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(1) {
              display: flex; } }
          @media (min-width: 670px) {
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(2) {
              display: flex; } }
          @media (min-width: 768px) {
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link:nth-child(3) {
              display: flex; }
            .site__content .tracklist .tracklist_track .tracklist_track__tags .tracklist_track__tags_link {
              font-size: 1.375rem; } }
        @media (min-width: 539px) {
          .site__content .tracklist .tracklist_track .tracklist_track__tags {
            display: flex;
            justify-self: center; } }
      .site__content .tracklist .tracklist_track:hover {
        /* padding: 1px; */
        /* -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-background-clip: content-box;
        background-clip: content-box; */
        filter: drop-shadow(0 0.4rem 0.5rem rgba(0, 0, 0, 0.2));
        background: linear-gradient(to bottom, whitesmoke, white, whitesmoke);
        overflow: none; }
      .site__content .tracklist .tracklist_track.playing {
        filter: drop-shadow(0 0.45rem 0.6rem rgba(0, 0, 0, 0.25));
        /*    no gradients */
        /* background-color: $color-white-050; */
        /*  with gradients */
        background: #fafafa; }
        .site__content .tracklist .tracklist_track.playing .tracklist_track__tags .tracklist_track__tags_link {
          filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
          background-color: #ffffff; }
          .site__content .tracklist .tracklist_track.playing .tracklist_track__tags .tracklist_track__tags_link:hover {
            filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
            background-color: #ffffff; }
      .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
        grid-area: buy; }
        @media (max-width: 425px) {
          .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.175s ease-in-out;
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            height: 3.5rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.15)); }
            .site__content .tracklist .tracklist_track .tracklist_track__buy_button:hover {
              filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.3)); } }
        @media (min-width: 425px) and (max-width: 767px) {
          .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.175s ease-in-out;
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            height: 3.5rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.15)); }
            .site__content .tracklist .tracklist_track .tracklist_track__buy_button:hover {
              filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.3)); } }
        @media (min-width: 768px) {
          .site__content .tracklist .tracklist_track .tracklist_track__buy_button {
            justify-self: left;
            background-color: var(--site__featured__buy-button--background-color);
            color: var(--site__featured__buy-button--text-color);
            width: auto;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.175s ease-in-out;
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 500;
            height: 3.5rem;
            border-radius: 0.25rem;
            filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.15)); }
            .site__content .tracklist .tracklist_track .tracklist_track__buy_button:hover {
              filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.3)); } }

.site__player {
  background-color: var(--site-player-background-color);
  /* media query */
  height: 6.4rem;
  width: 100%;
  padding: 0 1rem;
  z-index: 100;
  /* overflow: hidden; */
  transform: translateY(100%);
  transform-origin: bottom;
  transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas: "info controls menu";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* ================ */
  /* transform: translateY(0); */
  /* ================ */ }
  .site__player.active {
    transform: translateY(0); }
  @media (max-width: 425px) {
    .site__player {
      grid-template-columns: auto 1fr auto; } }
  @media (min-width: 768px) {
    .site__player {
      height: 8.4rem; } }
  .site__player .player__top_slider {
    width: 100%;
    height: 1vw;
    max-height: 0.75rem;
    position: absolute;
    background-color: #c2c2c2;
    /* will-change: transform; */
    transform: translateY(-50%);
    /* filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1)); */ }
    .site__player .player__top_slider .player__top_slider__inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000000;
      transform-origin: left center;
      transition: transform 0.175s ease-in-out;
      transform: scaleX(0.5);
      /* filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1)); */ }
  .site__player .player__info {
    grid-area: info;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    justify-items: start;
    justify-content: left;
    align-content: center; }
    .site__player .player__info .player__info-image {
      grid-area: image;
      height: 4.4rem;
      width: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      border-radius: 0.25rem;
      filter: drop-shadow(0 0.25rem 0.15rem rgba(0, 0, 0, 0.5)); }
      @media (min-width: 768px) {
        .site__player .player__info .player__info-image {
          height: 5.4rem; } }
    .site__player .player__info .player__info-text {
      grid-area: text;
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: left;
      align-items: flex-start;
      gap: 0.75rem; }
      .site__player .player__info .player__info-text .player__info-text-track_name {
        height: auto;
        width: auto;
        font-weight: 800;
        font-size: 1.5rem;
        color: #000; }
        @media (min-width: 768px) {
          .site__player .player__info .player__info-text .player__info-text-track_name {
            font-size: 1.8rem; } }
      .site__player .player__info .player__info-text .player__info-text-artist {
        height: auto;
        width: auto;
        font-weight: 600;
        font-size: 1.25rem;
        color: #141414; }
        @media (min-width: 768px) {
          .site__player .player__info .player__info-text .player__info-text-artist {
            font-size: 1.5rem; } }
  .site__player .player__controls {
    grid-area: controls;
    width: 100%;
    height: 100%;
    max-width: 30rem;
    justify-self: center;
    display: grid;
    grid-template-areas: "play_pause_etc" "slider";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    /*     @media (min-width: $screen-width-big) {
      & {
        grid-template-rows: 1fr 1fr;
      }
    } */
    align-items: center;
    /* gap: 1rem; */
    justify-items: center;
    justify-content: center;
    align-content: center; }
    .site__player .player__controls .player__controls-play_pause_etc {
      grid-area: play_pause_etc;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      gap: 1rem;
      align-self: end;
      width: auto;
      height: auto;
      /* .fi-sr-play,
      .fi-sr-pause {
        color: $color-white-100;
        background-color: $color-black-900;
      } */ }
      .site__player .player__controls .player__controls-play_pause_etc * {
        display: none;
        line-height: 0;
        width: auto;
        height: auto;
        margin: 0;
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 50%;
        font-size: 1.5rem;
        filter: drop-shadow(0 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
        transition: filter 0.175s ease-in-out; }
        .site__player .player__controls .player__controls-play_pause_etc *.visible {
          display: block; }
        .site__player .player__controls .player__controls-play_pause_etc *:hover {
          filter: drop-shadow(0 0.075rem 0.15rem rgba(0, 0, 0, 0.4)); }
      .site__player .player__controls .player__controls-play_pause_etc .fi-sr-spinner,
      .site__player .player__controls .player__controls-play_pause_etc .fi-sr-spinner-alt {
        padding: 0;
        border-radius: 0;
        font-size: 3rem;
        background-color: transparent;
        filter: none;
        animation-name: controls_spinner;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-play-state: paused;
        transform-origin: center; }
        .site__player .player__controls .player__controls-play_pause_etc .fi-sr-spinner.visible,
        .site__player .player__controls .player__controls-play_pause_etc .fi-sr-spinner-alt.visible {
          animation-play-state: running; }

@keyframes controls_spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .site__player .player__controls .player__controls-slider {
      grid-area: slider;
      transition: all 1s ease;
      display: none;
      align-self: baseline;
      width: 100%;
      height: auto; }
      .site__player .player__controls .player__controls-slider.visible {
        display: block; }
  .site__player .player__menu {
    grid-area: menu;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .site__player .player__menu .player__menu_open_playlist {
      line-height: 0;
      width: auto;
      height: auto;
      margin: 0;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 50%;
      font-size: 1.5rem;
      filter: drop-shadow(0 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
      transition: filter 0.175s ease-in-out;
      display: block; }
      .site__player .player__menu .player__menu_open_playlist:hover {
        filter: drop-shadow(0 0.075rem 0.15rem rgba(0, 0, 0, 0.4)); }
    .site__player .player__menu .fi-sr-volume {
      line-height: 0;
      width: auto;
      height: auto;
      margin: 0;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 50%;
      font-size: 1.5rem;
      filter: drop-shadow(0 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
      transition: filter 0.175s ease-in-out;
      display: block; }
      .site__player .player__menu .fi-sr-volume:hover {
        filter: drop-shadow(0 0.075rem 0.15rem rgba(0, 0, 0, 0.4)); }
      .site__player .player__menu .fi-sr-volume .player__menu_volume_container {
        z-index: 300;
        background-color: #ffffff;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 12.5rem;
        transform-origin: left top;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 2rem;
        border-radius: 0.5rem;
        transform: rotate(-90deg) scaleX(0) translate(1rem, -0.25rem);
        filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1));
        transition: transform 0.175s ease-in-out; }
        .site__player .player__menu .fi-sr-volume .player__menu_volume_container.visible {
          transform: rotate(-90deg) scaleX(1) translate(1rem, -0.25rem); }

.site__playlist_player {
  background-color: #fafafa;
  box-shadow: inset 0rem -5rem 20px 0px #00000012;
  z-index: 90;
  position: fixed;
  top: 6.4rem;
  bottom: 6.4rem;
  height: auto;
  overflow-y: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* filter: opacity(0); */
  transform: translateY(100vh);
  transition: transform 0.175s ease-in-out, filter 0.175s ease-in-out; }
  @media screen and (min-width: 768px) {
    .site__playlist_player {
      bottom: 8.4rem; } }
  .site__playlist_player.visible {
    /* filter: opacity(1); */
    transform: translateY(0); }
  .site__playlist_player .playlist__top {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    height: 6.4rem;
    /* background-color: $color-white-100; */
    display: flex;
    align-items: center;
    justify-content: center; }
    .site__playlist_player .playlist__top .playlist__topText {
      font-size: 2.5rem;
      font-weight: 500; }
  .site__playlist_player .playlist__track {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    height: 6.4rem;
    display: grid;
    grid-template-areas: "img name play";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem; }
    .site__playlist_player .playlist__track:not(:last-child) {
      border-bottom: 0.1rem solid #f0f0f0; }
    .site__playlist_player .playlist__track .playlist__track__img {
      grid-area: img;
      width: 4.4rem;
      aspect-ratio: 1 / 1;
      height: auto;
      border-radius: 0.25rem; }
    .site__playlist_player .playlist__track .playlist__track__name {
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem; }
      .site__playlist_player .playlist__track .playlist__track__name .playlist__track__playing {
        font-size: 1.3rem;
        font-weight: 500;
        color: #7b7b7b; }
    .site__playlist_player .playlist__track .playlist__track__play_button {
      background-color: var(--site__featured__buy-button--background-color);
      color: var(--site__featured__buy-button--text-color);
      width: auto;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: filter 0.175s ease-in-out;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      height: 3.5rem;
      border-radius: 0.25rem;
      filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.15));
      cursor: pointer; }
      .site__playlist_player .playlist__track .playlist__track__play_button:hover {
        filter: drop-shadow(0 0.2rem 0.3rem rgba(0, 0, 0, 0.3)); }

.debug__box {
  display: block;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  background-color: #00fbbd;
  padding: 1rem;
  border: 0.1rem solid #00f4ae;
  border-radius: 0.5rem;
  z-index: 9999;
  filter: opacity(0.75) drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.25));
  transition: filter 0.5s;
  cursor: default;
  font-weight: 500;
  display: none; }

.debug__box:hover {
  filter: opacity(0.25); }

.debug__box:active {
  filter: opacity(0.25);
  pointer-events: none; }

:root {
  --site-loading-background-color: #c2c2c2;
  --site-loading-circle-color: #979797;
  --site-loading-circle-color--left: #00aeff;
  --site-loading-circle-color--right: #ff5100; }

.preloading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.preloading__spinner {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  filter: opacity(1); }

.preloading__spinner--visible {
  background-color: var(--site-loading-background-color);
  display: flex;
  filter: opacity(1); }

.preloading__spinner--hide {
  filter: opacity(0); }

.preloading__spinner .inner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 1rem;
  border-color: var(--site-loading-circle-color);
  border-left-color: var(--site-loading-circle-color--left);
  border-left-width: 1rem;
  border-right-color: var(--site-loading-circle-color--right);
  border-right-width: 1rem;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-name: preloading__spinner-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

@keyframes preloading__spinner-animation {
  0% {
    transform: rotate(0deg);
    /* border-left-color: var(--site-loading-circle-color--left;
    border-right-color: var(--site-loading-circle-color--right; */ }
  50% {
    transform: rotate(180deg);
    /* border-right-color: var(--site-loading-circle-color--left;
    border-left-color: var(--site-loading-circle-color--right; */ }
  100% {
    transform: rotate(360deg);
    /* border-left-color: var(--site-loading-circle-color--left;
    border-right-color: var(--site-loading-circle-color--right; */ } }

button {
  padding: 1rem; }
