@import "parts/reset";
@import "parts/colors";
@import "parts/shades";

/* Z-INDEX */

$z-index__site-menu: 200;
$z-index__site-content: 0;
$z-index__site-player: 100;

$screen-width-medium: 425px;
$screen-width-big: 768px;

/* COLOR SCHEME */

$theme-colors: (
  site-color-body-background-color: $color-white-500,
  site-color-body-fonts-color: $color-black-900,
  site-content-background-color: $color-white-200,
  site-content-header-background-image--little:
    url("../img/backgrounds/background_little.jpg"),
  site-content-header-background-image--medium:
    url("../img/backgrounds/background_medium.jpg"),
  site-content-header-background-image--big:
    url("../img/backgrounds/background_big.jpg"),
  site-content-featured-title-text: $color-black-900,
  site-content-featured-info-text: $color-black-800,
  site-content-featured-tags-text: $color-black-800,
  site-content-featured-tags-button: $color-white-200,
  site__featured__buy-button--background-color: $color-black-900,
  site__featured__buy-button--text-color: $color-white-100,
  site-player-background-color: $color-white-050,
);

// loop over each name, color
:root {
  // each item in color map
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
  }
}

/* width */
::-webkit-scrollbar {
  width: 1.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-white-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-white-900;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-white-600;
}

/* ================ */
/* ================ */

@import "parts/components/buttons";
@import "parts/components/input_range";
/* ================ */
/* ================ */

/* General Styles */

body {
  background-color: var(--site-color-body-background-color);
  color: var(--site-color-body-fonts-color);
}

.site {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: auto;
  /* grid-template-areas:
    "menu"
    "content";
  grid-template-rows: 6.4rem 1fr; */
  /* grid-template-rows: 6.4rem 1fr 0; */

  @import "parts/site_menu";
}

.site__content {
  background-color: var(--site-content-background-color);
  height: 100%;
  width: 100%;
  z-index: $z-index__site-content;
  justify-content: center;

  &.expanded {
    margin-bottom: 6.4rem;
    @media only screen and (min-width: $screen-width-big) {
      & {
        margin-bottom: 8.4rem;
      }
    }
  }

  .error_404 {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 6.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-white-100;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
    .error_404_title {
      font-size: 3rem;
      font-weight: 600;
    }
    .error_404_cannot_text {
      font-size: 1.8rem;
      font-weight: 400;
      .error_404_cannot_page {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }

    .error_404_bottom_link {
      @include components__button(
        $background-color: var(--site__featured__buy-button--background-color),
        $text-color: var(--site__featured__buy-button--text-color),
        $size: "little",
        $width: auto,
        $shadow: "auto"
      );
      cursor: pointer;
    }
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    /* position: relative; */

    @media only screen and (max-width: $screen-width-medium - 1) {
      & {
        height: 40rem;
        /* background-image: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--little);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */
      }
    }
    @media only screen and (min-width: $screen-width-medium) and (max-width: $screen-width-big - 1) {
      & {
        height: 50rem;
        /*         background-image: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--medium);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */
      }
    }
    @media only screen and (min-width: $screen-width-big) {
      & {
        height: 64rem;
        /*  background-image: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--big);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */
      }
    }

    .header__background_div {
      width: 100%;
      height: 100%;
      position: absolute;

      @media only screen and (max-width: $screen-width-medium - 1) {
        & {
          height: 40rem;
        }
      }
      @media only screen and (min-width: $screen-width-medium) and (max-width: $screen-width-big - 1) {
        & {
          height: 50rem;
        }
      }
      @media only screen and (min-width: $screen-width-big) {
        & {
          height: 64rem;
        }
      }

      .header__background_div_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          to bottom,
          #00000000,
          var(--site-content-background-color)
        );
      }
    }

    /* .search_bar {
      display: grid;
      grid-template-columns: auto auto;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;

      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 1rem transparentize(black, 0.5));

      .search_bar__search_input {
        display: block;
        width: 90%;
      }

      .search_bar__search_button {
        display: block;
        width: 10%;
      }
    } */

    .featured_track {
      /* FA QUE VERGA ANDA RE MAL */
      /* backdrop-filter: blur(0.2rem);
      transform: translate3d(0.0,0.0,0.0);
      will-change: transform, filter; */
      display: grid;
      grid-template-areas:
        "image"
        "name"
        "info"
        "tags"
        "divider"
        "buy";
      grid-template-columns: 1fr;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;

      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.1rem 0.5rem rgba(0, 0, 0, 0.5));

      @media (min-width: $screen-width-medium) {
        & {
          grid-template-areas:
            "image"
            "name"
            "info"
            "tags"
            "divider"
            "buy";
          grid-template-columns: 1fr;
          /* grid-auto-rows: auto auto auto; */
        }
      }

      @media (min-width: $screen-width-big) {
        & {
          grid-template-areas:
            "image info info"
            "image name name"
            "image buy tags";
          grid-template-columns: auto auto auto;
        }
      }

      .featured_track__divider {
        grid-area: divider;
        display: block;
        height: 1rem;
        @media (min-width: $screen-width-big) {
          display: none;
        }
      }

      .featured_track__img {
        grid-area: image;
        height: 10rem;
        width: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
        @media (min-width: $screen-width-big) {
          & {
            justify-self: right;
            height: 12rem;
            width: auto;
          }
        }
        cursor: pointer;
      }
      .featured_track__name {
        grid-area: name;
        width: auto;
        height: auto;
        font-size: 2.5rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800;
        justify-self: center;
        align-self: center;
        @media (min-width: $screen-width-medium) {
          & {
            font-size: 3rem;
          }
        }

        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
          }
        }
        cursor: pointer;
      }
      .featured_track__info {
        cursor: pointer;
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .featured_track__info__line {
          cursor: pointer;
          display: block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          @media (min-width: $screen-width-medium) {
            & {
              font-size: 1.5rem;
            }
          }
          /* &:not(:first-child):before {
            content: "-";
          } */
          /* &:last-child { */
          /* & {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: block;
              }
            }
          } */
        }

        @media (min-width: $screen-width-big) {
          & {
            flex-direction: row;
            gap: 2.5rem;
            justify-self: left;
          }
        }
      }
      .featured_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .featured_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: var(--site-content-featured-tags-button);
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 4rem;
          border-radius: 2rem;
          transition: filter 0.175s ease-in-out;
          filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.15));
          &:hover {
            filter: drop-shadow(0 0.25rem 0.5rem rgba(73, 23, 23, 0.3));
          }
          &:last-child {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: flex;
              }
            }
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
          }
        }
      }
      .featured_track__buy_button {
        grid-area: buy;
        min-width: 13rem;
        @media (max-width: $screen-width-medium) {
          & {
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "little",
              $width: 100%,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-medium) and (max-width: $screen-width-big - 1px) {
          & {
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "medium",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "medium",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
      }
    }
  }

  .tracklist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    /* @media (min-width: $screen-width-medium) and (max-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    }
    @media (min-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    } */

    .tracklist_track {
      display: grid;
      grid-template-areas: "image name info buy";
      grid-template-columns: 5rem 1fr auto auto;
      width: 90%;
      max-width: $screen-width-big;
      height: 8rem;
      justify-content: space-between;
      justify-items: center;
      padding: 1rem;
      align-items: center;
      align-content: center;
      gap: 1rem;
      $color_linear: rgb(245, 245, 245);
      $color_linear_medio: rgb(255, 255, 255);
      background: linear-gradient(
        to bottom,
        $color_linear,
        $color_linear_medio,
        $color_linear
      );
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1));

      z-index: 1;
      transition: 0.175s ease-in-out;
      transform-origin: center;
      transition-property: filter, background-color, transform;
      transform: scale(1);

      @media (min-width: 539px) {
        & {
          grid-template-areas: "image name info tags buy";
          grid-template-columns: 5rem auto 1fr auto auto;
          transform: scale(100%);
        }
      }

      .tracklist_track__img {
        grid-area: image;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.3));
        cursor: pointer;
      }
      .tracklist_track__name {
        cursor: pointer;
        grid-area: name;
        justify-self: baseline;
        width: auto;
        height: auto;
        font-size: 1.8rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800;
        @media (min-width: $screen-width-medium) {
          & {
            font-size: 2.5rem;
          }
        }
      }
      .tracklist_track__info {
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .tracklist_track__info__line {
          cursor: pointer;
          display: inline-block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          &:nth-child(n) {
            display: none;
          }
          @media (min-width: 375px) {
            &:nth-child(1) {
              display: inline-block;
            }
          }
          @media (min-width: $screen-width-medium) {
            &:nth-child(2) {
              display: inline-block;
            }
            & {
              font-size: 1.375rem;
            }
          }
          @media (min-width: $screen-width-big) {
            & {
              font-size: 1.5rem;
            }
          }
          @media (min-width: 900px) {
            &:nth-child(3) {
              display: inline-block;
            }
          }
          /* &:not(:first-child):before {
            content: "-";
          }
          &:last-child {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: inline-block;
              }
            }
          } */
        }

        @media (min-width: 670px) {
          & {
            flex-direction: row;
            justify-self: center;
            gap: 2rem;
          }
        }
      }
      .tracklist_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        display: none;
        .tracklist_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* background-color: rgba(243, 243, 243, 1); */
          filter: none;
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 3rem;
          border-radius: 2rem;
          transition: 0.25s ease;
          transition-property: filter background-color;

          &:hover {
            background-color: $color-white-050;
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
          }

          &:nth-child(n) {
            display: none;
          }
          @media (min-width: 539px) {
            &:nth-child(1) {
              display: flex;
            }
          }
          @media (min-width: 670px) {
            &:nth-child(2) {
              display: flex;
            }
          }
          @media (min-width: $screen-width-big) {
            &:nth-child(3) {
              display: flex;
            }
            & {
              font-size: 1.375rem;
            }
          }

          /* & {
            display: none;
            @media (min-width: $screen-width-medium) {
              & {
                display: flex;
              }
            }
          } */
        }
        @media (min-width: 539px) {
          & {
            display: flex;
            justify-self: center;
          }
        }
      }
      &:hover {
        /* padding: 1px; */
        /* -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-background-clip: content-box;
        background-clip: content-box; */
        filter: drop-shadow(0 0.4rem 0.5rem rgba(0, 0, 0, 0.2));

        background: linear-gradient(
          to bottom,
          $color_linear,
          $color_linear_medio,
          $color_linear
        );
        overflow: none;
      }
      &.playing {
        filter: drop-shadow(0 0.45rem 0.6rem rgba(0, 0, 0, 0.25));
        /*    no gradients */
        /* background-color: $color-white-050; */
        /*  with gradients */

        background: $color-white-100;

        .tracklist_track__tags {
          .tracklist_track__tags_link {
            filter: drop-shadow(0 0.25rem 0.25rem transparentize(black, 0.9));
            background-color: $color-white-050;
            &:hover {
              filter: drop-shadow(0 0.25rem 0.5rem transparentize(black, 0.75));
              background-color: $color-white-050;
            }
          }
        }
      }
      .tracklist_track__buy_button {
        grid-area: buy;
        @media (max-width: $screen-width-medium) {
          & {
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "little",
              $width: 100%,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-medium) and (max-width: $screen-width-big - 1px) {
          & {
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "little",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "little",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
      }
    }
  }
}

.site__player {
  background-color: var(--site-player-background-color);
  /* media query */
  height: 6.4rem;
  width: 100%;
  padding: 0 1rem;
  z-index: $z-index__site-player;
  /* overflow: hidden; */
  transform: translateY(100%);
  transform-origin: bottom;
  transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas: "info controls menu";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* ================ */
  /* transform: translateY(0); */
  /* ================ */
  &.active {
    transform: translateY(0);
  }

  @media (max-width: $screen-width-medium) {
    & {
      grid-template-columns: auto 1fr auto;
    }
  }

  @media (min-width: $screen-width-big) {
    & {
      height: 8.4rem;
    }
  }

  .player__top_slider {
    width: 100%;
    height: 1vw;
    max-height: 0.75rem;
    position: absolute;
    background-color: $color-white-500;
    /* will-change: transform; */
    transform: translateY(-50%);
    /* filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1)); */
    .player__top_slider__inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-black-900;
      transform-origin: left center;
      transition: transform 0.175s ease-in-out;
      transform: scaleX(0.5);
      /* filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.1)); */
    }
  }

  .player__info {
    grid-area: info;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    justify-items: start;
    justify-content: left;
    align-content: center;

    .player__info-image {
      grid-area: image;
      height: 4.4rem;
      width: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      border-radius: 0.25rem;
      filter: drop-shadow(0 0.25rem 0.15rem transparentize(black, 0.5));
      @media (min-width: $screen-width-big) {
        & {
          height: 5.4rem;
        }
      }
    }

    .player__info-text {
      grid-area: text;
      height: auto;
      width: auto;
      display: flex;

      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: left;
      align-items: flex-start;
      gap: 0.75rem;

      .player__info-text-track_name {
        height: auto;
        width: auto;
        font-weight: 800;
        font-size: 1.5rem;
        color: #000;
        @media (min-width: $screen-width-big) {
          & {
            font-size: 1.8rem;
          }
        }
      }
      .player__info-text-artist {
        height: auto;
        width: auto;
        font-weight: 600;
        font-size: 1.25rem;
        color: #141414;
        @media (min-width: $screen-width-big) {
          & {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .player__controls {
    grid-area: controls;
    width: 100%;
    height: 100%;
    max-width: 30rem;
    justify-self: center;
    display: grid;
    grid-template-areas:
      "play_pause_etc"
      "slider";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    /*     @media (min-width: $screen-width-big) {
      & {
        grid-template-rows: 1fr 1fr;
      }
    } */
    align-items: center;
    /* gap: 1rem; */
    justify-items: center;
    justify-content: center;
    align-content: center;

    .player__controls-play_pause_etc {
      grid-area: play_pause_etc;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      gap: 1rem;
      align-self: end;
      width: auto;
      height: auto;

      * {
        display: none;
        line-height: 0;
        width: auto;
        height: auto;
        margin: 0;
        background-color: $color-white-050;
        padding: 1rem;
        border-radius: 50%;
        font-size: 1.5rem;
        filter: drop-shadow(0 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
        transition: filter 0.175s ease-in-out;
        &.visible {
          display: block;
        }
        &:hover {
          filter: drop-shadow(0 0.075rem 0.15rem rgba(0, 0, 0, 0.4));
        }
      }

      /* .fi-sr-play,
      .fi-sr-pause {
        color: $color-white-100;
        background-color: $color-black-900;
      } */

      .fi-sr-spinner,
      .fi-sr-spinner-alt {
        padding: 0;
        border-radius: 0;
        font-size: 3rem;
        background-color: transparent;
        filter: none;
        animation-name: controls_spinner;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-play-state: paused;
        transform-origin: center;
        &.visible {
          animation-play-state: running;
        }
      }
      @keyframes controls_spinner {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
    .player__controls-slider {
      grid-area: slider;
      transition: all 1s ease;
      display: none;
      align-self: baseline;
      width: 100%;
      height: auto;
      &.visible {
        display: block;
      }
    }
  }
  .player__menu {
    grid-area: menu;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .player__menu_open_playlist {
      line-height: 0;
      width: auto;
      height: auto;
      margin: 0;
      background-color: $color-white-050;
      padding: 1rem;
      border-radius: 50%;
      font-size: 1.5rem;
      filter: drop-shadow(0 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
      transition: filter 0.175s ease-in-out;
      display: block;
      &:hover {
        filter: drop-shadow(0 0.075rem 0.15rem rgba(0, 0, 0, 0.4));
      }
    }
    .fi-sr-volume {
      line-height: 0;
      width: auto;
      height: auto;
      margin: 0;
      background-color: $color-white-050;
      padding: 1rem;
      border-radius: 50%;
      font-size: 1.5rem;
      filter: drop-shadow(0 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
      transition: filter 0.175s ease-in-out;
      display: block;
      &:hover {
        filter: drop-shadow(0 0.075rem 0.15rem rgba(0, 0, 0, 0.4));
      }
      .player__menu_volume_container {
        z-index: 300;
        background-color: #ffffff;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 12.5rem;
        transform-origin: left top;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 2rem;
        border-radius: 0.5rem;
        transform: rotate(-90deg) scaleX(0) translate(1rem, -0.25rem);
        filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.1));
        transition: transform 0.175s ease-in-out;

        &.visible {
          transform: rotate(-90deg) scaleX(1) translate(1rem, -0.25rem);
        }
      }
    }
  }
}

.site__playlist_player {
  background-color: $color-white-100;
  box-shadow: inset 0rem -5rem 20px 0px #00000012;
  z-index: 90;
  position: fixed;
  top: 6.4rem;
  bottom: 6.4rem;
  height: auto;
  overflow-y: auto;
  @media screen and (min-width: $screen-width-big) {
    & {
      bottom: 8.4rem;
    }
  }
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* filter: opacity(0); */
  transform: translateY(100vh);
  transition: transform 0.175s ease-in-out, filter 0.175s ease-in-out;
  &.visible {
    /* filter: opacity(1); */
    transform: translateY(0);
  }

  .playlist__top {
    width: 100%;
    max-width: $screen-width-medium;
    margin: 0 auto;
    height: 6.4rem;
    /* background-color: $color-white-100; */
    display: flex;
    align-items: center;
    justify-content: center;
    .playlist__topText {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  .playlist__track {
    width: 100%;
    max-width: $screen-width-medium;
    margin: 0 auto;
    height: 6.4rem;
    display: grid;
    grid-template-areas: "img name play";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    &:not(:last-child) {
      border-bottom: 0.1rem solid $color-white-300;
    }
    .playlist__track__img {
      grid-area: img;
      width: 4.4rem;
      aspect-ratio: 1 / 1;
      height: auto;
      border-radius: 0.25rem;
    }
    .playlist__track__name {
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .playlist__track__playing {
        font-size: 1.3rem;
        font-weight: 500;
        color: $color-black-500;
      }
    }
    .playlist__track__play_button {
      @include components__button(
        $background-color: var(--site__featured__buy-button--background-color),
        $text-color: var(--site__featured__buy-button--text-color),
        $size: "little",
        $width: auto,
        $shadow: "auto"
      );
      cursor: pointer;
    }
  }
}

.debug__box {
  display: block;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  background-color: $color-analog-1-300;
  padding: 1rem;
  border: 0.1rem solid $color-analog-1-400;
  border-radius: 0.5rem;
  z-index: 9999;
  filter: opacity(0.75) drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.25));
  transition: filter 0.5s;
  cursor: default;
  font-weight: 500;
  display: none;
}

.debug__box:hover {
  filter: opacity(0.25);
}

.debug__box:active {
  filter: opacity(0.25);
  pointer-events: none;
}

@import "parts/preloader";

button {
  padding: 1rem;
}
