@import "parts/reset";
@import "parts/colors";
@import "parts/shades";

/* Z-INDEX */

$z-index__site-menu: 200;
$z-index__site-content: 0;
$z-index__site-player: 100;

$screen-width-medium: 425px;
$screen-width-big: 768px;

/* COLOR SCHEME */

$theme-colors: (
  site-color-body-background-color: $color-white-500,
  site-color-body-fonts-color: $color-black-900,
  site-content-background-color: $color-white-400,
  site-content-header-background-image--little:
    url("../img/backgrounds/background_little.jpg"),
  site-content-header-background-image--medium:
    url("../img/backgrounds/background_medium.jpg"),
  site-content-header-background-image--big:
    url("../img/backgrounds/background_big.jpg"),
  site-content-featured-title-text: $color-black-900,
  site-content-featured-info-text: $color-black-800,
  site-content-featured-tags-text: $color-black-800,
  site-content-featured-tags-button: $color-white-200,
  site__featured__buy-button--background-color: $color-black-900,
  site__featured__buy-button--text-color: $color-white-100,
  site-player-background-color: $color-white-400,
);

// loop over each name, color
:root {
  // each item in color map
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
  }
}

/* ================ */
/* ================ */

@import "parts/components/buttons";
/* ================ */
/* ================ */

/* General Styles */

body {
  background-color: var(--site-color-body-background-color);
  color: var(--site-color-body-fonts-color);
}

.site {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-areas:
    "menu"
    "content"
    "player";
  grid-template-rows: 6.4rem 1fr auto;
  /* grid-template-rows: 6.4rem 1fr 0; */

  @import "parts/site_menu";
}

.site__content {
  grid-area: content;
  background-color: var(--site-content-background-color);
  height: 100%;
  overflow: scroll;
  z-index: $z-index__site-content;
  justify-content: center;

  .header {
    width: 100%;
    height: 40rem;
    background: linear-gradient(
        to bottom,
        #00000000,
        var(--site-content-background-color)
      ),
      var(--site-content-header-background-image--little);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    @media (min-width: $screen-width-medium) and (max-width: $screen-width-big) {
      & {
        height: 50rem;
        background: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--medium);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
      }
    }
    @media (min-width: $screen-width-big) {
      & {
        height: 64rem;
        background: linear-gradient(
            to bottom,
            #00000000,
            var(--site-content-background-color)
          ),
          var(--site-content-header-background-image--big);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
      }
    }

    /* .search_bar {
      display: grid;
      grid-template-columns: auto auto;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;

      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 1rem transparentize(black, 0.5));

      .search_bar__search_input {
        display: block;
        width: 90%;
      }

      .search_bar__search_button {
        display: block;
        width: 10%;
      }
    } */

    .featured_track {
      display: grid;
      grid-template-areas:
        "image"
        "name"
        "info"
        "tags"
        "buy";
      grid-template-columns: 1fr;
      width: auto;
      height: auto;
      justify-content: center;
      justify-items: center;
      padding: 3rem;
      align-items: center;
      align-content: center;
      gap: 1rem;

      background-color: rgba(247, 247, 247, 0.8);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 1rem transparentize(black, 0.5));

      @media (min-width: $screen-width-big) {
        & {
          grid-template-areas:
            "image info info"
            "image name name"
            "image buy tags";
          grid-template-columns: auto auto auto;
          transform: scale(100%);
        }
      }

      .featured_track__img {
        grid-area: image;
        height: 12rem;
        width: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.25rem 0.5rem #000);
        @media (min-width: $screen-width-big) {
          & {
            justify-self: right;
            height: 12rem;
            width: auto;
          }
        }
      }
      .featured_track__name {
        grid-area: name;
        width: auto;
        height: auto;
        font-size: 2.5rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800;
        @media (min-width: $screen-width-medium) {
          & {
            font-size: 3rem;
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
            align-self: baseline;
          }
        }
      }
      .featured_track__info {
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .featured_track__info__line {
          display: block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          @media (min-width: $screen-width-medium) {
            & {
              font-size: 1.5rem;
            }
          }
          /* &:not(:first-child):before {
            content: "-";
          } */
          /* &:last-child { */
          /* & {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: block;
              }
            }
          } */
        }

        @media (min-width: $screen-width-medium) {
          & {
            flex-direction: row;
            gap: 2.5rem;
          }
        }

        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
          }
        }
      }
      .featured_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .featured_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: var(--site-content-featured-tags-button);
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 4rem;
          border-radius: 2rem;
          filter: drop-shadow(0 0.25rem 0.5rem transparentize(black, 0.75));
          &:last-child {
            display: none;
            @media (min-width: $screen-width-medium) {
              & {
                display: flex;
              }
            }
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
          }
        }
      }
      .featured_track__buy_button {
        grid-area: buy;
        @media (max-width: $screen-width-medium) {
          & {
            margin-top: 2rem;
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "little",
              $width: 100%,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-medium) and (max-width: $screen-width-big - 1px) {
          & {
            margin-top: 2rem;
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "medium",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "medium",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
      }
    }
  }

  .tracklist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    /* @media (min-width: $screen-width-medium) and (max-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    }
    @media (min-width: $screen-width-big) {
      & {
        justify-content: center;
      }
    } */

    .tracklist_track {
      display: grid;
      grid-template-areas: "image name info buy";
      grid-template-columns: 5rem 1fr auto auto;
      width: 90%;
      max-width: $screen-width-big;
      height: 8rem;
      justify-content: space-between;
      justify-items: center;
      padding: 1rem;
      align-items: center;
      align-content: center;
      gap: 1rem;
      background-color: rgb(243, 243, 243);
      border-radius: 0.5rem;
      filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
      z-index: 1;
      transition: filter 0.25s ease;
      &:hover {
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
        z-index: 2;
      }

      @media (min-width: 539px) {
        & {
          grid-template-areas: "image name info tags buy";
          grid-template-columns: 5rem auto 1fr auto auto;
          transform: scale(100%);
        }
      }

      .tracklist_track__img {
        grid-area: image;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 0.25rem;
        filter: drop-shadow(0 0.25rem 0.25rem transparentize(black, 0.5));
      }
      .tracklist_track__name {
        grid-area: name;
        justify-self: baseline;
        width: auto;
        height: auto;
        font-size: 1.8rem;
        color: var(--site-content-featured-title-text);
        font-weight: 800;
        @media (min-width: $screen-width-medium) {
          & {
            font-size: 2.5rem;
          }
        }
      }
      .tracklist_track__info {
        grid-area: info;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .tracklist_track__info__line {
          display: inline-block;
          font-size: 1.25rem;
          font-weight: 500;
          color: var(--site-content-featured-info-text);
          &:nth-child(n) {
            display: none;
          }
          @media (min-width: 375px) {
            &:nth-child(1) {
              display: inline-block;
            }
          }
          @media (min-width: $screen-width-medium) {
            &:nth-child(2) {
              display: inline-block;
            }
            & {
              font-size: 1.375rem;
            }
          }
          @media (min-width: $screen-width-big) {
            & {
              font-size: 1.5rem;
            }
          }
          @media (min-width: 900px) {
            &:nth-child(3) {
              display: inline-block;
            }
          }
          /* &:not(:first-child):before {
            content: "-";
          }
          &:last-child {
            display: none;
            @media (min-width: $screen-width-big) {
              & {
                display: inline-block;
              }
            }
          } */
        }

        @media (min-width: 670px) {
          & {
            flex-direction: row;
            justify-self: center;
            gap: 2rem;
          }
        }
      }
      .tracklist_track__tags {
        grid-area: tags;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        display: none;
        .tracklist_track__tags_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(243, 243, 243, 1);
          filter: none;
          padding: 0 1rem;
          width: auto;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--site-content-featured-tags-text);
          height: 3rem;
          border-radius: 2rem;
          transition: 0.25s ease;
          transition-property: filter background-color;

          &:hover {
            background-color: rgba(250, 250, 250, 1);
            filter: drop-shadow(0 0.25rem 0.5rem transparentize(black, 0.75));
          }

          &:nth-child(n) {
            display: none;
          }
          @media (min-width: 539px) {
            &:nth-child(1) {
              display: flex;
            }
          }
          @media (min-width: 670px) {
            &:nth-child(2) {
              display: flex;
            }
          }
          @media (min-width: $screen-width-big) {
            &:nth-child(3) {
              display: flex;
            }
            & {
              font-size: 1.375rem;
            }
          }

          /* & {
            display: none;
            @media (min-width: $screen-width-medium) {
              & {
                display: flex;
              }
            }
          } */
        }
        @media (min-width: 539px) {
          & {
            display: flex;
            justify-self: center;
          }
        }
      }
      .tracklist_track__buy_button {
        grid-area: buy;
        @media (max-width: $screen-width-medium) {
          & {
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "little",
              $width: 100%,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-medium) and (max-width: $screen-width-big - 1px) {
          & {
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "medium",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
        @media (min-width: $screen-width-big) {
          & {
            justify-self: left;
            @include components__button(
              $background-color:
                var(--site__featured__buy-button--background-color),
              $text-color: var(--site__featured__buy-button--text-color),
              $size: "medium",
              $width: auto,
              $shadow: "auto"
            );
          }
        }
      }
    }
  }
}

.site__player {
  grid-area: player;
  background-color: var(--site-player-background-color);
  height: 6.8rem;
  width: 100%;
  transition: all 0.25s ease;
  z-index: $z-index__site-player;
  overflow: hidden;
  /* transform: translateY(100%);
  transform-origin: bottom; */
  display: none;
  grid-template-areas: "info controls menu";
  grid-template-columns: auto 1fr auto;
  &.active {
    display: grid;
  }
}

.debug__box {
  display: block;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  background-color: $color-analog-1-300;
  padding: 1rem;
  border: 0.1rem solid $color-analog-1-400;
  border-radius: 0.5rem;
  z-index: 9999;
  filter: opacity(0.75) drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.25));
  transition: filter 0.5s;
  cursor: default;
  font-weight: 500;
  display: none;
}

.debug__box:hover {
  filter: opacity(0.25);
}

.debug__box:active {
  filter: opacity(0.25);
  pointer-events: none;
}

@import "parts/preloader";

button {
  padding: 1rem;
}
