$color-black-900: #000000;
$color-black-800: #262626;
$color-black-700: #434343;
$color-black-600: #555555;
$color-black-500: #7b7b7b;
$color-black-400: #9d9d9d;
$color-black-300: #c4c4c4;
$color-black-200: #d9d9d9;
$color-black-100: #e9e9e9;
$color-black-050: #f5f5f5;

$color-white-900: #3c3c3c;
$color-white-800: #606060;
$color-white-700: #818181;
$color-white-600: #979797;
$color-white-500: #c2c2c2;
$color-white-400: #dedede;
$color-white-300: #f0f0f0;
$color-white-200: #f5f5f5;
$color-white-100: #fafafa;
$color-white-050: #ffffff;

$color-primary-900: #065ba5;
$color-primary-800: #057bc7;
$color-primary-700: #058ddb;
$color-primary-600: #03a0f0;
$color-primary-500: #00aeff;
$color-primary-400: #27bbff;
$color-primary-300: #4fc7ff;
$color-primary-200: #82d7ff;
$color-primary-100: #b4e7ff;
$color-primary-50: #e1f6ff;

$color-secondary-900: #c12c00;
$color-secondary-800: #d93c00;
$color-secondary-700: #e64300;
$color-secondary-600: #f44b00;
$color-secondary-500: #ff5100;
$color-secondary-400: #ff6b33;
$color-secondary-300: #ff8659;
$color-secondary-200: #ffa889;
$color-secondary-100: #ffcbb7;
$color-secondary-050: #fce8e5;

$color-analog-1-900: #009157;
$color-analog-1-800: #00b471;
$color-analog-1-700: #00c680;
$color-analog-1-600: #00db90;
$color-analog-1-500: #00ed9e;
$color-analog-1-400: #00f4ae;
$color-analog-1-300: #00fbbd;
$color-analog-1-200: #00ffd0;
$color-analog-1-100: #9cffe3;
$color-analog-1-050: #d8fff4;

$color-analog-2-900: #0016ed;
$color-analog-2-800: #0022f2;
$color-analog-2-700: #0027f7;
$color-analog-2-600: #002fff;
$color-analog-2-500: #2f33ff;
$color-analog-2-400: #6553ff;
$color-analog-2-300: #8973ff;
$color-analog-2-200: #af9dff;
$color-analog-2-100: #d0c4ff;
$color-analog-2-050: #eee7ff;

$color-triadic-1-900: #0000ea;
$color-triadic-1-800: #0000ed;
$color-triadic-1-700: #1700f1;
$color-triadic-1-600: #3f00f9;
$color-triadic-1-500: #5100ff;
$color-triadic-1-400: #763fff;
$color-triadic-1-300: #9466ff;
$color-triadic-1-200: #b594fe;
$color-triadic-1-100: #d4bffe;
$color-triadic-1-050: #efe5ff;

$color-triadic-2-900: #97007f;
$color-triadic-2-800: #c40088;
$color-triadic-2-700: #da008d;
$color-triadic-2-600: #f20094;
$color-triadic-2-500: #ff0098;
$color-triadic-2-400: #ff00ae;
$color-triadic-2-300: #fb55c1;
$color-triadic-2-200: #f88cd4;
$color-triadic-2-100: #f8bae6;
$color-triadic-2-050: #fce4f5;