$theme-preloader-colors: (
  /* loading */ /* background */ /* color */ /* ============== */
    site-loading-background-color: $color-white-500,
  /* loading */ /* circle */ /* base--color */ /* ============== */
    site-loading-circle-color: $color-white-600,
  /* loading */ /* circle */ /* left--color */ /* ============== */
    site-loading-circle-color--left: $color-primary-500,
  /* loading */ /* circle */ /* right--color */ /* ============== */
    site-loading-circle-color--right: $color-secondary-500
);

// loop over each name, color
:root {
  // each item in color map
  @each $name, $color in $theme-preloader-colors {
    --#{$name}: #{$color};
  }
}

.preloading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.preloading::before {
  content: "";
  z-index: 9998;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 247, 247, 0.5);
  backdrop-filter: blur(1rem);
}

.preloading::after {
  content: "";
  z-index: 9999;
  position: absolute;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  /* background-color: rgb(19, 161, 90); */
  border: 1rem solid $color-black-050;
  border-left: 1rem solid $color-black-900;
  border-radius: 50%;

  animation-timing-function: linear;
  animation-duration: 1.75s;
  animation-name: preloading__spinner-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes preloading__spinner-animation {
  0% {
    transform: rotate(0deg);
    /* border-left-color: var(--site-loading-circle-color--left;
    border-right-color: var(--site-loading-circle-color--right; */
  }
  50% {
    transform: rotate(180deg);
    /* border-right-color: var(--site-loading-circle-color--left;
    border-left-color: var(--site-loading-circle-color--right; */
  }
  100% {
    transform: rotate(360deg);
    /* border-left-color: var(--site-loading-circle-color--left;
    border-right-color: var(--site-loading-circle-color--right; */
  }
}
