.preloading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.preloading__spinner {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.preloading__spinner--visible {
  background-color: $site-color-background-loading;
  display: flex;
}

.preloading__spinner--hide {
  filter: opacity(0);
}

.preloading__spinner .inner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 1rem;
  border-color: $site-color-loading-border;
  border-left-color: $site-color-loading-border-left;
  border-left-width: 1rem;
  border-right-color: $site-color-loading-border-right;
  border-right-width: 1rem;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-name: preloading__spinner-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes preloading__spinner-animation {
  0% {
    transform: rotate(0deg);
    /* border-left-color: $site-color-loading-border-left;
    border-right-color: $site-color-loading-border-right; */
  }
  50% {
    transform: rotate(180deg);
    /* border-right-color: $site-color-loading-border-left;
    border-left-color: $site-color-loading-border-right; */
  }
  100% {
    transform: rotate(360deg);
    /* border-left-color: $site-color-loading-border-left;
    border-right-color: $site-color-loading-border-right; */
  }
}
